@page {
    size: A4;
}

body {
    font-family: "Liberation Sans", sans-serif;
    text-rendering: geometricPrecision;
    /* allow proper justify text */
    margin: 15mm 10mm 15mm 10mm;
    font-size: 12pt;
    line-height: 1.5;
}

.center {
    text-align: center;
}

.page-break {
    page-break-before: always;
}

.intro-container {
    padding: 40% 0;
    margin: 0 auto;
    width: 75%;
}

#authors {
    font-size: 16pt;
}

#date {
    font-size: 16pt;
}

h1 {
    margin: auto;
    /* font-size: 2em; */
    font-size: 24pt;
    font-weight: bold;
}

h2 {
    font-size: 20pt;
    font-weight: bold;
}

h3 {
    font-size: 16pt;
    font-weight: bold;
}

#abstract {
    /* font-size: 1.5em; */
    font-weight: bold;
}

p {
    text-align: justify;
}

img {
    max-width: 210mm;
    max-height: 297mm;
    /* center image, preserve ratio, fit A4 page */
    display: block;
    margin: auto;
}

figcaption {
    text-align: center;
}

/* table  */
table {
    width: 100%;
}

caption {
    caption-side: bottom;
}

thead {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

table, th, td {
    border-collapse:collapse;
    text-align: left;
    margin: 0 auto;
    padding: 0 5px;
}

tr:nth-child(even) {
    background-color: rgb(228, 228, 228);
}
