<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentation</title>
    <link rel="stylesheet" href="doc.css">
</head>
<body>
    <h1 class="center">{title}</h1>
    <div>
        <p class="center">{authors_id_links}</p>
        <p class="center">{creation_date}</p>
    </div>
    <h2 class="center">Abstract</h2>
    <div class="description">
        <p>This paper documents the structure and contents of the "{db_name}" database. 
            The database and this documentation are accessible through accessible through : {DOI_a_tag}.
            and have been produced using spreads2sqlite software. This software is available through
            Gitlab repository {gitlab_repo_a_tag}.
        </p>
    </div>
    <hr>
    <div>
        <p><b>Database keywords</b>: {keywords}</p>
    </div>
    <div class="page-break"></div>
    <h2>Experiment synthesis</h3>
    <div class="description">
        <p class="description">{experiment_synthesis}</p>
    </div>
    <h2>Experiment description</h3>
    <div>
        <p class="description">{experiment_description}</p>
    </div>
    <div class="page-break">
    </div>
    {img_tag_erd}
    <div class="page-break">
        <table>
            <tr>
                <th>table</th>
                <th>caption</th>
            </tr>
            {DDict_table_content}
        </table>
    </div>
    <div class="page-break">
        <table>
            <tr>
                <th>attribute</th>
                <th>attType</th>
                <th>unit</th>
                <th>caption</th>
            </tr>
            {DDict_attr_content}
        </table>
    </div>
    <div class="page-break">
        <h3>SQL dump of the database</h3>
        <pre>{sql_dump}</pre>
    </div>
</body>
</html>