@page {
    size: A4;
    margin: 15mm 10mm 15mm 10mm;
}

.center {
    text-align: center;
}

.page-break {
    page-break-before: always;
}

.description {
    text-align: justify;
}

img {
    max-width: inherit;
    max-height: inherit;
    height: inherit;
    width: inherit;
    object-fit: cover;
}

/* table  */
table {
    width: 100%;
}

table, th, td {
    border: 2px solid black;
    border-collapse:collapse;
    text-align: center;
    margin: 0 auto;
}

tr:nth-child(even) {
    background-color: rgb(212, 211, 210);
}
