@page {
    size: A4;
    margin: 0;
}

body {
    width: 210mm;
    height: 297mm;
}

.center {
    text-align: center;
}

.page-break {
    page-break-before: always;
}

.description {
    text-align: justify;
}

.image-container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

img {
    max-width: inherit;
    max-height: inherit;
    height: inherit;
    width: inherit;
    object-fit: cover;
}
table, th, td{
    border: 2px solid black;
    border-collapse:collapse;
    padding: 10px;
    text-align: center;
    width: max-content;
}

tr:nth-child(even) {
    background-color: beige;
}